<center>
	<h1>Ansible:The Philotic Parallax Instantaneous Communicator. It is a device used for instantaneous interstellar communication.
	</h1>


I need a way for my product development team to provide real time, candid, feedback about each other. I need it to be tracked over time so each person can see how they have progressed over time, and focus on the most impactful areas to help them succeed. The Ansible is how that communication gets received & tracked.
</center>